# Ignore changes to files made in subrepositories since they arne't
# managed locally

zsh/cache/*
*.o
xmonad.linkme/xmonad-i386-linux
xmonad.linkme/xmonad.o
xmonad.linkme/xmonad.errors
xmonad/.gitignore
bin/heroku
vim.linkme/undo
vim.linkme/.netrwhist
vim.linkme/bundle/*
\#*\#

oh-my-zsh.linkme/locals.zsh
oh-my-zsh.linkme/log/.zsh_history
oh-my-zsh.linkme/projects.zsh
oh-my-zsh.linkme/cache
oh-my-zsh.linkme/*.swp

xmonad.linkme/history
xmonad.linkme/xmonad.hi
xmonad.linkme/xmonad-x86_64-linux
tags
