[submodule "vim.linkme/bundle/bufkill"]
	path = vim.linkme/bundle/bufkill
	url = http://github.com/vim-scripts/bufkill.vim
[submodule "vim.linkme/bundle/command-t"]
	path = vim.linkme/bundle/command-t
	url = http://github.com/wincent/Command-T
[submodule "vim.linkme/bundle/github-search"]
	path = vim.linkme/bundle/github-search
	url = http://github.com/gmarik/github-search.vim
[submodule "vim.linkme/bundle/haskellmode-vim"]
	path = vim.linkme/bundle/haskellmode-vim
	url = http://github.com/lukerandall/haskellmode-vim
[submodule "vim.linkme/bundle/nerdtree"]
	path = vim.linkme/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree
[submodule "vim.linkme/bundle/vim-surround"]
	path = vim.linkme/bundle/vim-surround
	url = http://github.com/tpope/vim-surround
[submodule "vim.linkme/bundle/vim-bufonly"]
	path = vim.linkme/bundle/vim-bufonly
	url = https://github.com/duff/vim-bufonly.git
[submodule "vim.linkme/bundle/supertab"]
	path = vim.linkme/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim.linkme/bundle/vim-repeat"]
	path = vim.linkme/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim.linkme/bundle/gundo"]
	path = vim.linkme/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim.linkme/bundle/vim-matchit"]
	path = vim.linkme/bundle/vim-matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule "vim.linkme/bundle/ruby-matchit"]
	path = vim.linkme/bundle/ruby-matchit
	url = https://github.com/vim-scripts/ruby-matchit.git
[submodule "vim.linkme/bundle/vim-rails"]
	path = vim.linkme/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim.linkme/bundle/ultisnips"]
	path = vim.linkme/bundle/ultisnips
	url = http://github.com/phenguin/ultisnips
[submodule "vim.linkme/bundle/vim-css-color"]
	path = vim.linkme/bundle/vim-css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule "vim.linkme/bundle/vim-scratch"]
	path = vim.linkme/bundle/vim-scratch
	url = https://github.com/duff/vim-scratch.git
[submodule "vim.linkme/bundle/syntastic"]
	path = vim.linkme/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim.linkme/bundle/vim-commentary"]
	path = vim.linkme/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim.linkme/bundle/ack-vim"]
	path = vim.linkme/bundle/ack-vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim.linkme/bundle/vim-powerline"]
	path = vim.linkme/bundle/vim-powerline
	url = http://github.com/Lokaltog/vim-powerline.git
[submodule "vim.linkme/bundle/tagbar"]
	path = vim.linkme/bundle/tagbar
	url = http://github.com/majutsushi/tagbar.git
