# Ignore changes to files made in subrepositories since they arne't
# managed locally

zsh/cache/*
*.o
xmonad.linkme/xmonad-i386-linux
xmonad.linkme/xmonad.o
xmonad/.gitignore
bin/heroku
vim.linkme/undo
vim.linkme/.netrwhist
\#*\#

oh-my-zsh.linkme/locals.zsh
oh-my-zsh.linkme/log/.zsh_history
oh-my-zsh.linkme/projects.zsh
oh-my-zsh.linkme/cache
oh-my-zsh.linkme/*.swp

