[submodule "vim/bundle/bufkill"]
	path = vim/bundle/bufkill
	url = http://github.com/vim-scripts/bufkill.vim
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = http://github.com/wincent/Command-T
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/git-vim"]
	path = vim/bundle/git-vim
	url = http://github.com/motemen/git-vim.git
[submodule "vim/bundle/github-search"]
	path = vim/bundle/github-search
	url = http://github.com/gmarik/github-search.vim
[submodule "vim/bundle/haskell.vim"]
	path = vim/bundle/haskell.vim
	url = http://github.com/vim-scripts/haskell.vim
[submodule "vim/bundle/haskellmode-vim"]
	path = vim/bundle/haskellmode-vim
	url = http://github.com/lukerandall/haskellmode-vim
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = http://github.com/msanders/snipmate.vim
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = http://github.com/tpope/vim-surround
[submodule "vim/bundle/vim-bufonly"]
	path = vim/bundle/vim-bufonly
	url = https://github.com/duff/vim-bufonly.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/vim-matchit"]
	path = vim/bundle/vim-matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule "vim/bundle/ruby-matchit"]
	path = vim/bundle/ruby-matchit
	url = https://github.com/vim-scripts/ruby-matchit.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
